:root {
  --azulPrincipal: #133E87;
  --fundoEscuro: #19262D;
  --fundoClaro: #FBFBFB;
  --textoBranco: #ffffff;
  --textoEscuro: #212529;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden; /* remove barras de rolagem vertical e horizontal */
}

body {
  color: var(--textoEscuro);
  background: var(--fundoClaro);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
